.autocomplete-popup {
    position: absolute;
    width: 250px;
    background: white;
    border: solid #999 1px;
    border-radius: 4px;
    padding: 1px;
    z-index: 401;
    left: 162px;

    max-height: 400px;
    overflow: auto;

    .field.vert & {
        left: 2px;
    }

    ul {
        margin: 0px;
        padding: 0px;

        li {
            display: block;
            font-size: golden-ratio(13px, 0);
            line-height: golden-ratio(13px, 0) * 1.2;
            cursor: pointer;
            clear: both;
            padding: 5px;
            color: #4a4a4a;

            &:nth-child(odd) {
                background: hsl(0, 0%, 97%);
            }
            &:hover {
                color: hsl(231, 40%, 47%);
                background: hsl(0, 0%, 88%);
            }

            .left {
                vertical-align: top;
                display: inline-block;
                width: 150px;
            }
            .right {
                vertical-align: top;
                float: right;
                display: inline-block;
                font-size: golden-ratio(11px, 0);
                color: hsl(0, 0, 63%);
            }
        }
    }
}
