.dropdown {
    @include button(simple, white);
    div {
        position: relative;
    }

    
    ul {
        display: none;
        border: solid #bababa 1px;
        background: #ececec;
        position: absolute;
        width: 12em;
        font-size: golden-ratio(8px, 1);
        right: -19px;
        z-index: 100;

        &.menu-left {
            right: auto;
            left: -19px;
        }
        
        box-shadow: 1px 1px 1px white inset;

        li {
            hr {
                border: 0 none;
                color: #bababa;
                background: #bababa;
                margin: 0;

            }
            a {
                padding: 6px 12px;
                text-align: left;
                display: block;
                text-decoration: none;
                color: #444;
                text-shadow: none;

                &:hover {
                    /*color: #666;*/
                    /*text-decoration: underline;*/
                }
            }
        }
    }

}
