multi-select {
    color: hsl(0, 0, 33%);
    i {
        color: #444;
        padding-left: 3px;
        text-align: left !important;
    }
    display: inline-block;
    overflow: auto;
    width: 250px;
    max-height: 20em;
    background: white;

    box-sizing: border-box;

    font-family: sans-serif;
    font-size: golden-ratio(13px, 0);
    line-height: golden-ratio(14px, 0) * 1.5;

    border: solid hsl(0, 0, 60%) 1px;
    border-radius: 4px;

    ul {
        li {
            cursor: pointer;
            padding: 3px;

            &:nth-child(even) {
                background: hsl(207, 69%, 98%);
            }
            &.selected {
                background: hsl(27, 69%, 88%);
            }
        }
    }
}
