notifications, [notifications], .notifications {
    ul {
        position: fixed;
        width: 400px;
        margin-left: -200px;
        left: 50%;
        top: 20px;
        z-index: 40000;

        li {
            display: block;
            margin: 0 0 6px 0;
            padding: 8px 16px;

            color: #444;
            border: solid #bababa 2px;
            border-radius: 4px;
            background: #efefef;
            
            box-shadow: 1px 1px 2px rgba(0,0,0,0.5);

            &.success {
                color: #15921D;
                border-color: #15921D;
                background: #dfefe0;
            }
            &.error {
                color: #BA1F1B;
                border-color: #BA1F1B;
                background: #e6dada;
            }
        }
    }
}
