.tabctrl {
    margin: 1em 0;
    section {
        display: none;
        &.active {
            display: block;
        }
    }
    .tabs {
        a {
            $bg: #448ECD;
            $inactive-bg: desaturate($bg, 40%); 
            display: inline-block;
            padding: 6px 15px;
            background: $inactive-bg;
            color: darken(white, 10%);
            text-decoration: none;
            border-style: solid;
            border-width: 1px 1px 0px 1px;
            border-color: darken($inactive-bg, 10%);
            border-radius: 6px 6px 0 0;
            text-shadow: 0px 1px 1px rgba(0,0,0,0.3);

            &.active {
                color: white;
                background: $bg;
                border-color: darken($bg, 5%);
            }
        }
    }
}
